.mobil-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.mobil-nav > .burger {
  width: 50px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
  z-index: 98;
}
.mobil-nav > .burger > .toggle {
  width: 100%;
  height: 5px;
  background: rgb(64, 62, 59);
  border-radius: 20%;
  position: absolute;
}
.mobil-nav > .burger > .toggle-one {
  top: 0;
  right: 0;
}
.mobil-nav > .burger > .toggle-two {
  top: calc(50% - 2.5px);
}
.mobil-nav > .burger > .toggle-theree {
  bottom: 0;
  right: 0;
}

.toggle-animation {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-opacity {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-first {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-last {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-body {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding-top: 80px;
  z-index: 90;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.burger-body > .footer-left {
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
  margin-left: 50px;
  margin-top: 60px;
}

.burger-nav {
  margin-top: 100px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger-nav-block {
  text-align: right;
  margin-bottom: 26px;
  font-size: 20px;
}
.burger-nav > .header-body-decktop-block {
  margin-left: 35px;
  margin-top: 46px;
}

.burger-active {
  display: block;
}

.mobil-nav.fixed {
  position: fixed;
}