.custom-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(64, 62, 59, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.custom-modal > .body {
  width: 400px;
  height: 620px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-modal > .body > .closed {
  font-weight: 500;
  font-size: 60px;
  position: absolute;
  top: -60px;
  right: -25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.custom-modal > .body > .closed:hover {
  color: red;
  font-weight: 500;
  -webkit-transform: scale(1.05) rotate(135deg);
      -ms-transform: scale(1.05) rotate(135deg);
          transform: scale(1.05) rotate(135deg);
}
.custom-modal > .body > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 26px;
}

.modal-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.modal-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
  padding-bottom: 46px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 23px;
}

.modal-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 23px;
}
.modal-form-input label {
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}
.modal-form-input input[type=text] {
  border: 1px solid rgb(100, 92, 85);
  font-size: 18px;
  padding: 8px 13px;
}
.modal-form-input input[type=text]::-webkit-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::-moz-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]:-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=submit] {
  height: 46px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(27, 26, 26);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal-form-input input[type=submit]:hover {
  -webkit-filter: blur(1px) saturate(30%);
          filter: blur(1px) saturate(30%);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.modal-none {
  display: none;
}

@media (max-width: 1024px) {
  .custom-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .custom-modal > .body {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  .custom-modal > .body {
    width: 300px;
    height: 500px;
  }
  .modal-title {
    font-size: 14px;
  }
  .modal-subtitle {
    font-size: 10px;
  }
  .modal-form {
    margin-top: 0;
  }
}