@font-face {
  font-family: "Golos";
  src: url("../fonts/golos-text_regular.woff") format("woff");
  src: url("../fonts/golos-text_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Golos";
  src: url("../fonts/golos-text_bold.woff") format("woff");
  src: url("../fonts/golos-text_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.height-100 {
  height: 100%;
}

.display-visilble {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Golos";
}

a {
  text-decoration: none;
  border: none;
  color: rgb(27, 26, 26);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Golos";
}

ol, ul, li {
  list-style: none;
}

input, button {
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
}

body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.hover-effect {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover-effect::after {
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.hover-effect:hover::after {
  width: 100%;
}

.hovered {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.other-hovered {
  -webkit-filter: blur(1px) saturate(30%);
          filter: blur(1px) saturate(30%);
}

.header {
  width: 100%;
  min-height: 100px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-body-logotype-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-body-logotype-img img {
  width: 45px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 13px;
  margin-left: 13px;
}
.header-body-logotype-img > .title {
  position: relative;
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-body-logotype-img > .title > .line {
  width: 140%;
  min-width: 100px;
  height: 2px;
  margin-top: 5px;
  margin-left: -23px;
  background: rgba(23, 78, 91, 0.6);
  border-radius: 50%;
}
.header-body-logotype-img p {
  font-family: "Comfortaa";
  color: rgba(23, 78, 91, 0.8);
  font-weight: 500;
  font-size: 19px;
  margin-left: 1px;
}
.header-body-decktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-body-decktop-block {
  padding-right: 21pt;
}
.header-body-decktop-block:last-child {
  padding-right: 0;
}
.header-body-decktop-block p {
  font-size: 8pt;
  font-weight: 300;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}
.header-body-decktop-block a {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.header-body-decktop-block > button {
  height: 46px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(27, 26, 26);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header-body-decktop-block > button:hover {
  -webkit-filter: blur(1px) saturate(30%);
          filter: blur(1px) saturate(30%);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.home {
  position: relative;
  width: 100%;
  min-height: 720px;
  background: rgb(236, 231, 228);
  overflow: hidden;
}
.home-left {
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-left > h1 {
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
}
.home-left h2 {
  font-family: "Comfortaa";
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  color: rgb(27, 26, 26);
  padding-top: 23px;
  padding-bottom: 23px;
}
.home-left > p {
  font-family: "Golos";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(64, 62, 59);
  padding-right: 66px;
  padding-bottom: 46px;
}
.home-left > button {
  color: rgb(27, 26, 26);
  font-family: "Golos";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
  text-align: left;
  padding-bottom: 7px;
}
.home > .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.home-img-media {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-img-media-block {
  display: none;
}

.firm {
  margin-top: 105px;
  margin-bottom: 105px;
}
.firm .container > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.firm h3 {
  font-family: "Comfortaa";
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
}
.firm-block {
  margin-top: 45px;
  margin-left: 23px;
}
.firm-block h4 {
  font-family: "Golos";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(27, 26, 26);
  margin-bottom: 16px;
}
.firm-block p {
  font-family: "Golos";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(64, 62, 59);
}
.firm-block:first-child {
  margin-top: 0;
}
.firm-boss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.firm-boss-img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid rgb(206, 196, 188);
}
.firm-boss-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.firm-boss-text {
  margin-left: 30px;
}
.firm-boss-text > .name {
  font-family: "Golos";
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(27, 26, 26);
}
.firm-boss-text > .jobtitle {
  padding-top: 7px;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: rgb(64, 62, 59);
}

.redding {
  width: 100%;
  height: 600px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
  background-image: url(../img/4.jpg);
}
.redding-buster {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.redding-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.redding-body h4 {
  width: 80%;
  margin-bottom: 23px;
  cursor: pointer;
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
}
.redding-body > a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgb(64, 62, 59);
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
}

.process h4 {
  text-align: center;
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
}
.process p {
  font-size: 39px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  padding-top: 43px;
}
.process-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 46px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.process-step {
  margin-top: 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.process-step > h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgb(27, 26, 26);
  margin-top: 23px;
}
.process-step > p {
  width: 300px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(64, 62, 59);
}

.marble {
  width: 100%;
  height: 600px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
  background-position: bottom left;
  margin-bottom: 0;
  background-image: url(../img/5.jpg);
}
.marble-buster {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.prior {
  width: 100%;
  background: rgb(64, 62, 59);
}
.prior-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 46px;
}
.prior-body h5 {
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.prior-body h6 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: rgb(255, 255, 255);
  min-width: 300px;
}
.prior-body p {
  padding-top: 46px;
  max-width: 451px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.prior-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.prior-img-partner {
  max-height: 100px;
  margin-top: 46px;
  margin-bottom: 46px;
  height: 100px;
  display: block;
}
.prior-img-partner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swirling {
  width: 100%;
  height: 600px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
  background-position: center;
  margin-bottom: 0;
  background-image: url(../img/7.jpg);
}
.swirling-buster {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.projects {
  padding-top: 92px;
  padding-bottom: 46px;
  background: rgb(247, 247, 247);
}
.projects h6 {
  font-family: "Comfortaa";
  font-size: 39px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}
.projects p {
  padding-top: 26px;
  color: rgb(64, 62, 59);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.projects-block {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-block-project {
  width: 360px;
  height: 460px;
  position: relative;
  background-color: rgb(236, 231, 228);
  -webkit-box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 26px;
}

.btn-hover-effect {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-hover-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(64, 62, 59);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.btn-hover-effect:hover::after {
  width: 100%;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 46px;
  padding-left: 46px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
}

.face1 {
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.face2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.face2 h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: rgb(64, 62, 59);
  z-index: 10;
}
.face2 p {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(27, 26, 26);
  z-index: 10;
}

.face2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.face2:hover::after {
  width: 100%;
}

.projects-block-project:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  border-radius: 6px;
}

.face-img1 {
  background-image: url(../img/projects/1.jpg);
}

.face-img2 {
  background-image: url(../img/projects/2.jpg);
}

.face-img3 {
  background-image: url(../img/projects/3.jpg);
}

.face-img4 {
  background-image: url(../img/projects/4.jpg);
}

.face-img5 {
  background-image: url(../img/projects/5.jpg);
}

.face-img6 {
  background-image: url(../img/projects/6.jpg);
}

.team {
  margin-top: 92px;
  padding-bottom: 92px;
}
.team h6 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: rgb(27, 26, 26);
  padding-top: 46px;
}
.team p {
  color: rgb(64, 62, 59);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 23px;
  padding-bottom: 46px;
}
.team-card {
  padding-left: 46px;
}
.team-card-body {
  padding-top: 23px;
  padding-left: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.team-card-body p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: rgb(64, 62, 59);
}
.team-card-body-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-card-body-icon-check {
  margin-right: 26px;
  width: 45px;
  height: 45px;
  border: 3px solid rgb(206, 196, 188);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-card-body-icon-check i {
  color: rgb(206, 196, 188);
  font-size: 35px;
}
.team-card-body-icon h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(27, 26, 26);
  margin: 0;
  padding: 0;
}

.touch {
  width: 100%;
  min-height: 314px;
  background: rgb(206, 196, 188);
}
.touch-content {
  min-height: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.touch-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.touch-content-title h6 {
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
}
.touch-content-title p {
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}
.touch-content-title a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
  text-align: left;
  color: rgb(64, 62, 59);
}
.touch-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  min-height: 204px;
  width: 100%;
  background: rgb(247, 247, 247);
}
.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-link {
  margin-top: 46px;
  width: 150px;
  height: 80px;
  display: block;
}
.footer-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.footer-right {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-right strong {
  font-family: "Golos";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: rgb(100, 92, 85);
  text-transform: uppercase;
  font-weight: 400;
}
.footer-right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.400000006px;
}
.footer-right-links {
  margin-top: 23px;
  margin-bottom: 46px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid rgb(206, 196, 188);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 23px;
}
.circle i {
  font-size: 20px;
  color: rgb(206, 196, 188);
}

.to-top {
  position: fixed;
  bottom: 100px;
  left: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}
.to-top:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: invert(100%) contrast(200%);
          filter: invert(100%) contrast(200%);
}

.to-top-block {
  display: block;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: invert(0) contrast(100%);
            filter: invert(0) contrast(100%);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(50%) contrast(150%);
            filter: invert(50%) contrast(150%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: invert(0) contrast(100%);
            filter: invert(0) contrast(100%);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: invert(0) contrast(100%);
            filter: invert(0) contrast(100%);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(50%) contrast(150%);
            filter: invert(50%) contrast(150%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: invert(0) contrast(100%);
            filter: invert(0) contrast(100%);
  }
}
@media (max-width: 1024px) {
  .header {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-logotype-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #decktop {
    display: none;
  }
  #mobil-nav {
    display: block;
  }
  .reverse-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home-left h2 {
    font-size: 52px;
    line-height: 64px;
  }
  .face2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
  }
}
@media (max-width: 992px) {
  #header {
    display: none;
  }
  #mobil {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .home > .right {
    display: none;
  }
  .home > .right-left h1 {
    display: none;
  }
  .height-right {
    min-height: 420px;
  }
  .firm-block:first-child {
    margin-top: 45px;
  }
  .display-visible {
    display: none;
  }
  .team-card {
    margin-top: 46px;
  }
  .touch-link {
    margin-top: 46px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 46px;
  }
  .footer-right-links {
    width: 100%;
  }
  .to-top {
    bottom: 50px;
    left: 20px;
  }
  .home-img-media-block {
    display: block;
  }
}