.fade-in-right-start{
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(50px);
    overflow: hidden;
}

.fade-in-left-start{
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(-50px);
    overflow: hidden;
}

.fade-in-top-start{
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(-50px);
    overflow: hidden;
}

.fade-in-right-finish{
    opacity: 1;
    transform: translateX(0);
}

.fade-in-top-finish{
    opacity: 1;
    transform: translateY(0);
}
