@import "variables";
@import "reset";
@import "navHoverEffect";


.header{
    width: 100%;
    min-height: 100px;
    padding-top: 26px;
    padding-bottom: 26px;
    &-body{
        @include block-beetwen;
        &-logotype{
            &-img{
                @include block-center;
                img{
                    width: 45px;
                    height: 35px;
                    object-fit: cover;
                    margin-right: 13px;
                    margin-left: 13px;
                }
                &>.title{
                    position: relative;
                    min-height: 35px;
                    display: flex;
                    flex-direction: column;
                    &> .line{
                        width: 140%;
                        min-width: 100px;
                        height: 2px;
                        margin-top: 5px;
                        margin-left: -23px;
                        background: rgba(23, 78, 91, .6);
                        border-radius: 50%;
                    }
                }
                p{
                    font-family: 'Comfortaa';
                    color: rgba(23, 78, 91, .8);
                    font-weight: 500;
                    font-size: 19px;
                    margin-left: 1px;
                }
            }
        }
        &-decktop{
            @include block-center;
            flex-direction: row;
            &-block{
                padding-right: 21pt;
                &:last-child{
                    padding-right: 0;
                }
                p{
                    font-size: 8pt;
                    font-weight: 300;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: right;
                }
                a{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                }
                &> button{
                    height: 46px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 14px;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 0.40px;
                    text-align: center;
                    color: $color-white;
                    background: $color-title;
                    transition: all .5s ease;
                    &:hover{
                        filter: blur(1px) saturate(30%);
                        transform: scale(1.01);
                    }
                }
            }
        }
        &-mobil{
            display: none;
            &> .burger{
                width: 50px;
                height: 50px;
                @include block-beetwen;
                flex-direction: column;
                justify-content: space-around;
                cursor: pointer;
                &> .toggle{
                    width: 100%;
                    height: 5px;
                    background: $color-text;
                    border-radius: 20%;
                }
            }
        }
    }
}

.home{
    position: relative;
    width: 100%;
    min-height: 720px;
    background: $color-grey;
    &-left{
        height: 720px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &> h1{
            @include subtitle;
        }
        h2{
            font-family: 'Comfortaa';
            font-size: 64px;
            font-weight: 700;
            line-height: 70.4px;
            text-align: left;
            color: $color-title;
            padding-top: 23px;
            padding-bottom: 23px;
        }
        & > p{
            font-family: "Golos";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: $color-text;
            padding-right: 66px;
            padding-bottom: 46px;
        }
        &> button{
            color: $color-title;
            font-family: "Golos";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.4000000059604645px;
            text-align: left;
            padding-bottom: 7px;
        }
    }
    & > .right{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}



.home-img-media{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firm{
    margin-top: 105px;
    margin-bottom: 105px;

    & .container > .row{
        justify-content: center;
    }
    h3{
        font-family: 'Comfortaa';
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        text-align: left;
    }
    &-block{
        margin-top: 45px;
        h4{
            font-family: "Golos";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-title;
            margin-bottom: 16px;
        }
        p{
            font-family: "Golos";
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: $color-text;
        }
        &:first-child{
            margin-top: 0;
        }
    }
    &-boss{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 45px;
        &-img{
            width: 84px;
            height: 84px;
            border-radius: 50%;
            border: 3px solid rgba(206, 196, 188, 1);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &-text{
            margin-left: 30px;
            &> .name{
                font-family: "Golos";
                font-size: 17px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                color: $color-title;
            }
            &> .jobtitle{
                padding-top: 7px;
                font-family: "Comfortaa";
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                color: $color-text;
            }
        }
    }
}

.redding{
    @include bg-block;
    background-image: url(../img/4.jpg);
    &-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h4{
            width: 80%;
            margin-bottom: 23px;
            @include subtitle;
             filter:contrast(300%);
        }
        & > a{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: $color-text;
            filter:contrast(300%);
        }
    }
}

.process{
    h4{
        text-align: center;
        @include subtitle;
    }
    p{
        font-size: 39px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
        padding-top: 43px;
    }
    &-steps{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 46px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &-step{
        margin-top: 46px;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > h5{
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            color: $color-title;
            margin-top: 23px;
        }
        & > p{
            width: 300px;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: $color-text;
        }
    }
}

.marble{
    @include bg-block;
    background-position: bottom left;
    margin-bottom: 0;
    background-image: url(../img/5.jpg);
}

.prior{
    width: 100%;
    background: $color-text;
    &-body{
        display: flex;
        flex-direction: column;
        min-height: 400px;
        justify-content: center;
        align-items: flex-start;
        margin-top: 46px;
        margin-bottom: 46px;
        h5{
            @include subtitle;
            color: $color-white;
        }
        h6{
            font-size: 32px;
            font-weight: 400;
            line-height: 38px;
            text-align: left;
            color: $color-white;
            min-width: 300px;
        }
        p{
            padding-top: 46px;
            max-width: 451px;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: $color-white;
        }
    }
    &-img{
        display: flex;
        min-height: 400px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        &-partner{
            max-height: 100px;
            margin-top: 46px;
            margin-bottom: 46px;
            height: 100px;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.swirling{
    @include bg-block;
    background-position: center;
    margin-bottom: 0;
    background-image: url(../img/7.jpg);
}

.projects{
    padding-top: 92px;
    padding-bottom: 46px;
    background: rgba(247, 247, 247, 1);
    h6{
        font-family: 'Comfortaa';
        font-size: 39px;
        font-weight: 400;
        line-height: 42px;
        text-align: left;
    }
    p{
        padding-top: 26px;
        color: $color-text;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }
    &-block{
        margin-top: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-project{
            width: 360px;
            height: 460px;
            position: relative;
            background-color: $color-grey;
            box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
            border-radius: 6px;
            transition: 0.5s;
            cursor: pointer;
            margin-bottom: 26px;
        }
    }
}

.btn-hover-effect{
    position: relative;
    transition: all .3s ease;
}

.btn-hover-effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-text;
    transition: width 0.3s ease;
}

.btn-hover-effect:hover::after {
    width: 100%;
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 46px;
    padding-left: 46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 6px;
}

.face1 {
    padding: 20px;
    transition: 0.5s;
}

.face2 {
    transition: 0.5s;
    h6{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-align: left;
        color: $color-text;
        z-index: 10;
    }
    p{
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: $color-title;
        z-index: 10;
    }
}
.face2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width 0.5s ease;
}

.face2:hover::after {
    width: 100%;
}

.projects-block-project:hover {
    transform: scale(1.03);
    border-radius: 6px;
  }

@for $i from 1 through 6 {

.face-img#{$i} {
    background-image: url(../img/projects/#{$i}.jpg);
    
    }
}

.team{
    margin-top: 92px;
}


@import "media";

